# ignore Elgg configuration
/elgg-config/settings.php
/.htaccess
/composer-update.sh
/.gitignore

# Non-public devs
/mod/theme_ecogestion
/mod/dossiers_inscriptions
/mod/naturalbox_garden
/mod/ni_jardins
/mod/requests
/mod/reservations

/mod/elgg_dataviz
/mod/market/
/mod/hypeMapsOpen/

# Not ready for release
/mod/esope/
/mod/cmspages/
/mod/czd_data/
/mod/senx_interface/
/mod/theme_test/

