# ignore Elgg configuration
/elgg-config/settings.php
/.htaccess
/composer-update.sh
/.gitignore

# Non-public devs
/mod/theme_ecogestion
/mod/dossiers_inscriptions
/mod/naturalbox_garden

/mod/elgg_dataviz
/mod/market/
/mod/hypeMapsOpen/

